@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


section {
  scroll-margin-top: 50px;
}

/* Dark sections */
.bg-\[\#130207\] ::selection,
.bg-\[\#22050B\] ::selection,
.bg-\[\#260506\] ::selection {
  background: #B79A69;
  color: #191113;
}

/* Light sections */
.bg-\[\#F0E7DE\] ::selection,
.bg-\[\#E9DED4\] ::selection,
.bg-\[\#E2D6CC\] ::selection {
  background: #5A101C;
  color: #F5EEE7;
}

